.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .places h1 {
    font-size: 30px;
    width: 100%;
    margin-left: 20px;
  }
  .places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    position: relative;
  }
  
  .places article h2 {
    font-size: 30px;
    list-style: none;
  }
  
  .price_by_night {
    color: #ff5a5f;
    border: 4px #ff5a5f solid;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    line-height: 60px;
  }
  
  .information {
    height: 80px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: center;
  }
  .max_guest,
  .number_rooms,
  .number_bathrooms {
    width: 100px;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .max_guest {
    background-image: url("../images/icon_group.png");
  }
  
  .number_rooms {
    background-image: url("../images/icon_bed.png");
  }
  
  .number_bathrooms {
    background-image: url("../images/icon_bath.png");
  }
  
  .max_guest h4,
  .number_rooms h4,
  .number_bathrooms h4 {
    margin: 5px;
  }
  
  .user {
    display: flex;
    padding-top: 20px;
  }
  
  .user h4 {
    margin-left: 5px;
  }
  
  .user h3,
  .user h4 {
    margin-bottom: 0;
  }
  
  .description {
    text-align: left;
  }
  .places .amenities {
    margin-top: 40px;
  }
  
  .places .amenities h2 {
    font-size: 16px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding-bottom: 10px;
  }
  .places .amenities ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  section.places .amenities ul li.liTV {
    background-image: url("../images/icon_tv.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 30px;
  }
  
  section.places .amenities ul li.liWifi {
    background-image: url("../images/icon_wifi.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 30px;
  }
  
  section.places .amenities ul li.liPets {
    background-image: url("../images/icon_pets.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 30px;
  }
  
  .places .reviews {
    margin-top: 40px;
  }
  
  .places .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding-bottom: 10px;
  }
  .places .reviews ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  .places .reviews ul li h3 {
    font-size: 14px;
  }
  .places .reviews ul li p {
    font-size: 12px;
  }
  
